/*						www.odysee2001.tk
		page.css

Stylesheet for general style settings in all html files										 */



/* background and font*/
body {
	background: url("../wallpapers/polaris_80.jpg") fixed no-repeat top left;
	font-family: Quicksand, Verdana, Arial, sans-serif;
}

header {
	margin: 10px 274px 40px;
	border-radius: 50px;
	padding: 5px;

	background-color: white;
	opacity: 0.65;

	width: 65%;
	height: 15%;
}

nav {
	display: inline-block;
	vertical-align: top;
	margin: 0px 0px 30px 10px;

	border-radius: 50px;
	padding: 10px 0px 10px 0px;

	background-color: white;
	opacity: 0.65;

	width: 13%;
	height: 620px;
	overflow: visible;
}

nav ul {
	list-style-type: none;
	font-size: 1.2em;
	padding-left: 20px;
}

nav ul ol {
	list-style-type: none;
	list-style-position: outside;
}

#index_nav {
	display: inline-block;
	vertical-align: top;
	margin: 0px 0px 50px 10px;

	border-radius: 50px;
	padding: 10px 30px;

	font-size: 1.3em;

	background-color: white;
	opacity: 0.65;

	width: 50%;
	height: 735px;
	overflow: visible;
}

nav[id="index_nav"] ul {
	list-style-type: upper-roman;
}

nav[id="index_nav"] ul ol {
	list-style-type: decimal;
	list-style-position: outside;
}

section {
	display: inline-block;
	vertical-align: top;	

	margin: 0px 0px 30px 30px;
	border-radius: 50px;
	padding: 20px;
	padding-top: 0px;

	background-color: white;
	opacity: 0.65;

	width: 70%; 
	min-height: 380px;
	max-height: 65%;

	overflow: auto;
}

section header {
	margin: 20px 0px 50px 0px;
	border-radius: 0px;
	padding: 0px;

	width: 100%;
	height: 100%;
}

section header ul {
	list-style-type: none;
	margin: 0px;
}	

section header ul li {
	display: inline-block;
	margin: 0px;
	text-align: right;
}

section header ul li a.right {
	margin-right: 500px;
}

footer {
	margin: auto;

        border-radius: 50px;
        padding: 7px;

	background-color: white;
	opacity: 0.65;

        width: 40%;
        height: 3%;

	text-align: center;	
	font-style: italic;
}

footer ul {
	list-style-type: none;
	margin: 0px;
}	

footer ul li {
	display: inline-block;
	margin-right: 20px;
	text-align: center;
}

/* fonts */
@font-face {
	font-family: 'Quicksand';
	src: url('../fonts/font-quicksand/Quicksand-Regular.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Daniel';
	src: url('../fonts/font-daniel/daniel.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Existence';
	src: url('../fonts/font-existence/Existence-Light.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Tangerine';
	src: url('../fonts/font-tangerine/Tangerine_Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
